* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font section */

@font-face {
  font-family: "nm_l";
  src: url("/fonts/neuemachina-light-webfont.woff2") format("woff");
}
@font-face {
  font-family: "nm_l";
  src: url("/fonts/neuemachina-light-webfont.woff") format("woff");
}
@font-face {
  font-family: "nm_r";
  src: url("/fonts/neuemachina-regular-webfont.woff2") format("woff");
}
@font-face {
  font-family: "nm_r";
  src: url("/fonts/neuemachina-regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "nm_b";
  src: url("/fonts/neuemachina-ultrabold-webfont.woff2") format("woff");
}
@font-face {
  font-family: "nm_b";
  src: url("/fonts/neuemachina-ultrabold-webfont.woff") format("woff");
}
:root {
  --maincolor: linear-gradient(180deg, #e35353 0%, #e3537f 100%);
  --text_dark: #170d24;

  --breakpoint_0: 320px;
  --breakpoint_1: 430px;
  --breakpoint_2: 834px;
  --breakpoint_3: 1200px;
}



body {
  background-attachment: fixed;
  background-image: url("/images/background.png");
  background-position: center top;
  background-size: cover;
  height: 100dvh;
  width: 100dvw;

}
