.card {
  display: flex;
  flex-direction: row;
  height: 108px;
  width: 100%;
  border: 1px solid #e35353;
}

.details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.project_name {
  background: var(--maincolor);
  width: 100%;
  color: var(--darkcolor);
  font-family: "nm_b";
  padding: 8px;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
}

.project_type {
  font-family: "nm_b";
  font-size: 16px;
  background: var(--maincolor, linear-gradient(180deg, #e35353 0%, #e3537f 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project_type span {
  font-family: "nm_r";
}

.content {
  position: relative;
  display: flex;
  flex-direction: row;
  color: #e35353;
  flex-grow: 1;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-align: left;
  scroll-padding-left: .5rem;
}

.slide {
  min-width: 80%;
  height: 100%;
  padding: .5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.slide:nth-child(2) {
  min-width: 100%;
  flex-direction: row;
  font-size: 12px;
}

.slide_buttonR,
.slide_buttonL {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  max-height: 32px;
  background: var(--maincolor);
  font-family: "nm_b";
  font-size: 20px;
  color: var(--text_dark);
  text-decoration: none;
  margin-top: .5rem;
}

.slide_buttonR::after {
  content: ">";
}

.slide_buttonL::after {
  content: "<";
}

.tags {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;

}

.tag {
  font-family: "nm_l";
  font-size: 12px;
  line-height: normal;
}

.tag:before {
  content: ">";
  font-family: "nm_b";
  margin-right: 2px;

}