@import "public/styles/mixin.scss";


.main {
  font-family: "nm_l";
  font-size: 1rem;
  outline: 1px solid #000;
  background: transparent;
  padding: 1rem;
  @include glitch;
  @include maincolor_text;
}